#projectHeader {
    margin-bottom: 1.8rem;
}

#projectHeader > .header-title {
    margin-bottom: 1.8rem;
}

#projectHeader > .header-title > h1 {
    font-size: 1.2rem;
    font-weight: 500;
}

#projectHeader > .header-link {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8rem;
}

#projectHeader > .header-link > a {
    color: white;
}

#projectHeader > .header-description {
    margin-bottom: 1.8rem;
}

#projectHeader > .header-description > p {
    font-size: 0.95rem;
    color: var(--secondary-color);
}

#projectHeader > .header-resume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#projectHeader > .header-resume > .header-resume-box--container {
    border-left: 1px solid var(--border-color);
    color: var(--secondary-color);
    padding-left: 1rem;
    margin: 1rem 0;
}

#projectHeader > .header-resume > .header-resume-box--container > p {
    padding: 4px 0;
    font-size: 0.9rem;
}

@media (max-width: 650px) {
    #projectHeader > .header-resume {
        display: flex;
        flex-direction: column;
    }


}