#projectDescription > .description-image--container {
    border-radius: 8px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

#projectDescription > .description-image--container > img {
    width: 100%;
    height: 100%;
}


#projectDescription > p {
    color: var(--secondary-color);
    padding: 1.2rem 0;
}