#cv_header {
    margin-bottom: 4rem;
}

.cv_header-row-1 {
    display: flex;
    justify-content: space-between;
}

.cv_header-row-1 > div {
    display: flex;
}

.cv_header-tittle--container > h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.cv_header-tittle--container > h2 {
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin: 6px 0;
}

.cv_header-tittle--container > p {
    color: var(--secondary-color);
}

.cv_header-tittle-ubication--container {
    display: flex;
    color: var(--secondary-color);
    align-items: center; 
}

.cv_header_img--container {
    border-radius: 5px;
    margin-right: 15px;
    width: 130px;
    height: 130px;
    overflow: hidden;
}

.cv_header_img--container > img {
    width: 100%;
    height: 100%;
}

.cv_header-col-2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.cv_header-col-2 > a {
    position: relative;
    color: white;
    margin: 5px 0;
    text-decoration: none;
}

.cv_header-col-2 > a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
}

.cv_header-col-2 > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease;
}

.cv_header-col-2 > a:hover::after {
    width: 100%;
}

.cv_header-row-2 {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    padding: 5px 0;
    border-top: 1px solid var(--border-color);
}

.cv_header-row-2 > div > a {
    text-decoration: none;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
}

.cv_header-row-2-socials--container {
    display: flex;

}

.cv_header-row-2-socials--container > a {
    margin: 0 10px;
}

.cv_header-svg-clipboard, .cv_header-a-linkedin > svg {
    margin-right: 5px;
}

.cv_header-a-email:hover {
    color: white;
}

.cv_header-a-linkedin:hover {
    color: white;
}

@media (max-width: 650px) {
    .cv_header-col-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cv_header-tittle--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 12px 0;
    }

    .cv_header-row {
        display: flex;
        flex-direction: column;
    }

    .cv_header-col-2 {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .cv_header-row-2 {
        display: flex;
        align-items: center;
    }

    .cv_header-row-2 > div {
        margin: 5px 0;
    }
}