#contact {
    margin-bottom: 3rem;
}

.contact-tittle--container {
    margin-bottom: 2rem;
}

.contact-tittle--container > h4 {
    font-size: 1.3rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.contact-form > div > input, textarea {
    width: 100%;
    border-radius: 6px;
    height: 40px;
    color: white;
    background-color: var(--fill-color);
    border: 1px solid var(--border-color);
    padding-left: 0.8rem;
    font-weight: 500;
}

.contact-form > div > textarea {
    max-width: 100%;
    height: 150px;
    max-height: 180px;
    padding: 0.8rem;
}

.contact-form > div > .contact-form-input-submit {
    font-size: 1.2rem;
    background-color: white;
    color: black;
    transition: 0.3s ease-in-out;
}

.contact-form > div > .contact-form-input-submit:hover {
    cursor: pointer;
    background-color: #a8a9a9;
}