#experience {
    margin-bottom: 3rem;
}

.experience-tittle--container {
    margin-bottom: 2rem;
}

.experience-tittle--container > h4 {
    font-size: 1.3rem;
}

.experience--container {
    padding-left: 1.5rem;
    border-left: 1px solid var(--border-color);
}

.experience-box-tittle--container {
    display: grid;
    gap: 2px;
    margin-bottom: 1.5rem;
}

.experience-box-ubication > p {
    font-size: 0.95rem;
    color: var(--secondary-color);
}

.experience-box-company {
    display: flex;
    justify-content: space-between;
}

.experience-box-company > h4 {
    font-size: 1.1rem;
}

.experience-box-company > p {
    font-size: 0.95rem;
    color: var(--secondary-color);
}

.experience-box-position > p {
    font-size: 0.95rem;
    color: var(--secondary-color);
}


.experience-box-description--container {
    padding-left: 1rem;
}

.experience-box-description--container > ul {
    color: var(--secondary-color);
    display: grid;
    gap: 4px;
    font-size: 0.95rem;
}