:root {
  --primary-color: white;
  --secondary-color: #a8a9a9;
  --background-color: #131313;
  --fill-color: #252425;
  --border-color: #373637;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter" ,system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}

#main--container {
  max-width: 720px;
  width: 100%;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 650px) {
  main {
    margin: 0 10px;
  }
}